@import 'variables';

h1 {
    color: $red-color;
}

h2 {
    color: green;
}

.card-course-item {
    margin-top: 20px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}